html,
body,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #31405b;
  background-color: #f2f8f6;
}

body > * {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

input {
  font-family: "PT Sans", sans-serif;
}

label {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.none {
  display: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .container {
    width: 900px;
  }
}
@media (max-width: 899px) {
  .container {
    width: 100%;
  }
}

.bgcolor {
  background-color: #fff;
}

/* Header */
.header {
  height: 800px;
  padding-top: 50px;
  position: relative;
  background-color: #265847;
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
@media (max-width: 1199px) {
  .header {
    height: 591px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px;
  background-color: #265847;
  background-image: url("./../img/header/header-small-bg.jpg");
  background-position: center;
  background-size: cover;
  color: #ffffff;
}
@media (max-width: 1199px) {
  .header-inner {
    height: 103px;
  }
}
@media (max-width: 899px) {
  .header-inner {
    height: 80px;
  }
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .header-top {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
  }
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1170px;
}
@media (max-width: 1199px) {
  .header-content {
    width: 900px;
    padding-left: 15px;
    padding-right: 15px;
    top: 49%;
  }
}
@media (max-width: 899px) {
  .header-content {
    width: 100%;
    top: 46%;
  }
}
@media (max-width: 599px) {
  .header-content {
    top: 47%;
  }
}

.header-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
}
@media (max-width: 1199px) {
  .header-title {
    font-size: 52px;
  }
}
@media (max-width: 899px) {
  .header-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 42px;
  }
}
@media (max-width: 599px) {
  .header-title {
    font-size: 32px;
    margin-bottom: 10px;
  }
}

.header-content p {
  font-size: 24px;
}
@media (max-width: 899px) {
  .header-content p {
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .header-content p {
    font-size: 18px;
  }
}

.header-scroll {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  padding-bottom: 34px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1199px) {
  .header-scroll {
    font-size: 0;
  }
}

@-webkit-keyframes scroll-down {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}

@keyframes scroll-down {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -10px;
  }
}
.header-scroll::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 18px;
  height: 24px;
  background-image: url("../img/header/arrow-down.svg");
}

.header-scroll:hover,
.header-scroll:focus {
  text-shadow: 2px 5px 8px #020404;
}

.header-scroll::after {
  -webkit-animation: scroll-down 0.7s linear 0.1s infinite alternate;
  animation: scroll-down 0.7s linear 0.1s infinite alternate;
}

.header-nav {
  font-size: 22px;
}
@media (max-width: 1199px) {
  .header-nav {
    z-index: 97;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 32, 26, 0.9);
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    -webkit-transition: opacity 0.2s ease-in, top 0.2s linear;
    -o-transition: opacity 0.2s ease-in, top 0.2s linear;
    transition: opacity 0.2s ease-in, top 0.2s linear;
  }
}
@media (max-width: 899px) {
  .header-nav {
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .header-nav {
    font-size: 18px;
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1199px) {
  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.header-nav-list-item {
  margin-right: 50px;
}
@media (max-width: 1199px) {
  .header-nav-list-item {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
@media (max-width: 599px) {
  .header-nav-list-item {
    margin-bottom: 10px;
  }
}

.nav__top {
  display: none;
}
@media (max-width: 1199px) {
  .nav__top {
    display: inline;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    color: #0ac883;
  }
}
@media (max-width: 899px) {
  .nav__top {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
@media (max-width: 599px) {
  .nav__top {
    margin-bottom: 30px;
  }
}

.header-nav-list-item:last-child {
  margin-right: 0;
}

.header-nav-link {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
@media (max-width: 1199px) {
  .header-nav-link {
    -webkit-transition: color 0.2s ease-in;
    -o-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
  }
  .header-nav-link:hover {
    color: #0ac883;
  }
}

.header-nav-link:hover,
.header-nav-link:focus {
  text-shadow: 2px 3px 8px #020404;
  color: #0ac883;
}

.nav--active {
  z-index: 98;
  top: 0;
  opacity: 1;
  -webkit-transition: top 0.2s linear, opacity 0.2s ease-in;
  -o-transition: top 0.2s linear, opacity 0.2s ease-in;
  transition: top 0.2s linear, opacity 0.2s ease-in;
}

.nav-icon {
  display: none;
}
@media (max-width: 1199px) {
  .nav-icon {
    z-index: 98;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
    border: none;
    -webkit-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    outline: none;
    cursor: pointer;
  }
  .nav-icon:hover, .nav-icon:focus {
    background-color: #265847;
  }
  .nav-icon:hover .nav-icon__middle,
  .nav-icon:hover .nav-icon__middle::before,
  .nav-icon:hover .nav-icon__middle::after, .nav-icon:focus .nav-icon__middle,
  .nav-icon:focus .nav-icon__middle::before,
  .nav-icon:focus .nav-icon__middle::after {
    background-color: #fff;
  }
}

.nav-icon__middle {
  position: relative;
  width: 32px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-transition: background-color 0.3s ease-in;
  -o-transition: background-color 0.3s ease-in;
  transition: background-color 0.3s ease-in;
}
.nav-icon__middle::before, .nav-icon__middle::after {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 4px;
  -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.nav-icon__middle::before {
  top: -9px;
}
.nav-icon__middle::after {
  top: 9px;
}

/* Active state */
.nav-icon.nav-icon--active {
  position: fixed;
  z-index: 99;
  right: 15px;
  top: 50px;
}
.header-inner .nav-icon.nav-icon--active {
  right: 15px;
  top: 22px;
}
@media (max-width: 899px) {
  .header-inner .nav-icon.nav-icon--active {
    right: 15px;
    top: 10px;
  }
}

.nav-icon.nav-icon--active .nav-icon__middle {
  background-color: transparent;
}
.nav-icon.nav-icon--active .nav-icon__middle::before, .nav-icon.nav-icon--active .nav-icon__middle::after {
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
}
.nav-icon.nav-icon--active .nav-icon__middle::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-icon.nav-icon--active .nav-icon__middle::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.logo {
  font-family: "Lobster", cursive;
  font-weight: normal;
  font-size: 40px;
}
@media (max-width: 899px) {
  .header-inner .logo {
    font-size: 30px;
  }
}
@media (max-width: 599px) {
  .logo {
    font-size: 30px;
  }
}

/* Main */
main {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 1199px) {
  main {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 899px) {
  main {
    padding-top: 60px;
    padding-bottom: 58px;
  }
}
@media (max-width: 599px) {
  main {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
  }
}

.main-header {
  font-weight: 700;
  font-size: 54px;
  color: #31405b;
}
@media (max-width: 1199px) {
  .main-header {
    font-size: 50px;
    line-height: 1;
  }
}
@media (max-width: 899px) {
  .main-header {
    font-size: 42px;
  }
}
@media (max-width: 599px) {
  .main-header {
    font-size: 28px;
  }
  .main .main-header {
    font-size: 34px;
  }
}

.main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px;
}
@media (max-width: 1199px) {
  .main-row {
    margin-bottom: 80px;
  }
}
@media (max-width: 899px) {
  .main-row {
    margin-bottom: 60px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
@media (max-width: 599px) {
  .main-row {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.main-row:last-child {
  margin-bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
@media (max-width: 599px) {
  .main-row:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.main-content {
  width: 470px;
}
@media (max-width: 1199px) {
  .main-content {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .main-content {
    width: auto;
    padding-bottom: 17px;
  }
}
@media (max-width: 599px) {
  .main-content {
    padding-bottom: 0;
  }
}

.main-header-wrapper {
  margin-bottom: 20px;
}

.main-content-text {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 1.6;
  color: #31405b;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 1199px) {
  .main-content-text {
    margin-bottom: 27px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .main-content-text {
    font-size: 16px;
  }
}
@media (max-width: 599px) {
  .main-content-text {
    margin-bottom: 26px;
  }
}

.main-content-text p {
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .main-content-text p {
    margin-top: 25px;
  }
}

.main-content-text a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #138ece;
}
.main-content-text a:hover, .main-content-text a:focus {
  text-decoration: underline;
}

.br {
  display: none;
}
@media (max-width: 899px) {
  .br {
    display: inline;
  }
}

.main-img {
  width: 570px;
}
@media (max-width: 1199px) {
  .main-img {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .main-img {
    width: 170px;
    margin-right: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  .main-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (max-width: 599px) {
  .main-img {
    width: auto;
    height: 150px;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

/* Inner Page Tours */
.inner-page {
  padding-top: 60px;
  padding-bottom: 100px;
}
.inner-page.article-page {
  padding-top: 70px;
}
@media (max-width: 1199px) {
  .inner-page {
    padding-top: 48px;
    padding-bottom: 58px;
  }
  .inner-page.tours-page {
    padding-top: 68px;
  }
  .inner-page.article-page {
    padding-top: 46px;
    padding-bottom: 63px;
  }
}
@media (max-width: 899px) {
  .inner-page {
    padding-top: 47px;
    padding-bottom: 40px;
  }
  .inner-page.tours-page {
    padding-top: 46px;
    padding-bottom: 40px;
  }
  .inner-page.article-page {
    padding-top: 28px;
    padding-bottom: 58px;
  }
}
@media (max-width: 599px) {
  .inner-page {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .inner-page.tours-page {
    padding-top: 40px;
  }
  .inner-page.article-page {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

.inner-page-tours-header {
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 1199px) {
  .inner-page-tours-header {
    margin-bottom: 47px;
  }
}
@media (max-width: 599px) {
  .inner-page-tours-header {
    margin-bottom: 30px;
  }
}

/* Footer */
.footer {
  margin-top: auto;
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #265847;
  color: #fff;
}
@media (max-width: 1199px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 899px) {
  .footer {
    padding-top: 31px;
    padding-bottom: 40px;
  }
}
@media (max-width: 599px) {
  .footer {
    text-align: center;
  }
}

.footer a {
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .footer-row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 599px) {
  .footer-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.footer-widgets-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}
@media (max-width: 899px) {
  .footer-widgets-wrapper {
    width: 100%;
    margin-bottom: 50px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 599px) {
  .footer-widgets-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (max-width: 899px) {
  .footer-widgets-wrapper > * {
    width: calc(50% - 15px);
  }
}
@media (max-width: 599px) {
  .footer-widgets-wrapper > * {
    width: 100%;
  }
}

.footer-copyright {
  width: 270px;
}
@media (max-width: 1199px) {
  .footer-copyright {
    width: 195px;
  }
}
@media (max-width: 899px) {
  .footer-copyright {
    width: auto;
  }
}

.footer-logo {
  margin-bottom: 26px;
}
@media (max-width: 1199px) {
  .footer-logo {
    margin-bottom: 18px;
  }
  .footer-logo .logo {
    font-size: 30px;
  }
}
@media (max-width: 899px) {
  .footer-logo {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .footer-logo {
    margin-bottom: 10px;
  }
}

.footer-copyright p {
  font-size: 16px;
  line-height: 1.67;
}
@media (max-width: 1199px) {
  .footer-copyright p {
    font-size: 14px;
  }
}
@media (max-width: 899px) {
  .footer-copyright p {
    font-size: 14px;
  }
}

.footer-widget {
  font-size: 18px;
}
@media (max-width: 599px) {
  .footer-widget {
    margin-bottom: 46px;
    font-size: 16px;
  }
}

.footer-widget a:hover,
.footer-widget a:focus {
  text-shadow: 5px 5px 5px #020404;
  text-decoration: none;
}

.footer-widget-info {
  width: 170px;
}

.footer-widget-services,
.footer-widget-contacts {
  width: 270px;
}

@media (max-width: 1199px) {
  .footer-widget-services {
    display: none;
  }
}
@media (max-width: 599px) {
  .footer-widget-services {
    display: block;
  }
}

.footer-widget + .footer-widget {
  margin-left: 30px;
}
@media (max-width: 1199px) {
  .footer-widget + .footer-widget {
    margin-left: 56px;
  }
}
@media (max-width: 599px) {
  .footer-widget + .footer-widget {
    margin-left: 0;
  }
}

.footer-widget p:not(:last-child) {
  margin-bottom: 15px;
}

.footer-widget-title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
}
@media (max-width: 1199px) {
  .footer-widget-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .footer-widget-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.footer-widget-list {
  font-size: 18px;
}
@media (max-width: 599px) {
  .footer-widget-list {
    font-size: 16px;
  }
}

.footer-widget-list li:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 599px) {
  .footer-widget-list li:not(:last-child) {
    margin-bottom: 10px;
  }
}

/* Article Page*/
.row-articles-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .row-articles-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.article-page-article {
  width: 770px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  font-size: 20px;
  line-height: 1.6;
  color: #31405b;
}
@media (max-width: 1199px) {
  .article-page-article {
    width: 570px;
    font-size: 18px;
  }
}
@media (max-width: 899px) {
  .article-page-article {
    width: auto;
    font-size: 16px;
  }
}

.article-page-article h2,
.article-page-article h3,
.article-page-article h4,
.article-page-article h5,
.article-page-article h6 {
  font-weight: 700;
  line-height: 1.6;
}
@media (max-width: 599px) {
  .article-page-article h2,
  .article-page-article h3,
  .article-page-article h4,
  .article-page-article h5,
  .article-page-article h6 {
    line-height: 1;
  }
}

.article-page-article h1 {
  margin-bottom: 45px;
  font-size: 54px;
  line-height: 1;
}
@media (max-width: 1199px) {
  .article-page-article h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media (max-width: 899px) {
  .article-page-article h1 {
    font-size: 42px;
  }
}
@media (max-width: 599px) {
  .article-page-article h1 {
    margin-bottom: 15px;
    font-size: 28px;
  }
}

.article-page-article h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
}
@media (max-width: 1199px) {
  .article-page-article h2 {
    margin-top: 26px;
  }
}
@media (max-width: 599px) {
  .article-page-article h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.article-page-article h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
}
@media (max-width: 1199px) {
  .article-page-article h3 {
    margin-top: 23px;
    margin-bottom: 13px;
  }
}
@media (max-width: 599px) {
  .article-page-article h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.article-page-article h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 23px;
}
@media (max-width: 599px) {
  .article-page-article h4 {
    margin-top: 19px;
    margin-bottom: 11px;
    line-height: 1.6;
  }
}

.article-page-article h5 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 20px;
}

.article-page-article h6 {
  margin-top: 20px;
  margin-bottom: 18px;
  font-size: 18px;
}

.article-page-article p {
  margin-bottom: 16px;
}
@media (max-width: 1199px) {
  .article-page-article p {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .article-page-article p {
    margin-bottom: 10px;
  }
}
@media (max-width: 599px) {
  .article-page-article p + p {
    margin-top: 24px;
  }
}

.article-page-article img {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .article-page-article img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 899px) {
  .article-page-article img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .article-page-article img {
    margin-top: 28px;
  }
}

.article-page-article a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  color: #138ece;
}
.article-page-article a:hover, .article-page-article a:focus {
  color: #265847;
}

.article-page-article > *:last-child {
  margin-bottom: 0;
}

/* Article Page*/
.article-page-nav {
  width: 269px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
@media (max-width: 899px) {
  .article-page-nav {
    margin-top: 40px;
    width: 100%;
  }
}
@media (max-width: 599px) {
  .article-page-nav {
    margin-top: 35px;
  }
}

.article-page-nav-title {
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 28px;
  color: #31405b;
}
@media (max-width: 899px) {
  .article-page-nav-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 599px) {
  .article-page-nav-title {
    margin-bottom: 15px;
    font-size: 22px;
  }
}

.article-page-nav-list {
  border-top: 1px solid #d6d9d8;
  font-size: 20px;
  line-height: 26px;
}
@media (max-width: 1199px) {
  .article-page-nav-list {
    font-size: 18px;
    line-height: 23px;
  }
}
@media (max-width: 599px) {
  .article-page-nav-list {
    font-size: 16px;
    line-height: 21px;
  }
}

.article-page-nav-list li {
  border-bottom: 1px solid #d6d9d8;
}

.article-page-nav-list a {
  display: block;
  padding-top: 14px;
  padding-bottom: 15px;
  color: #138ece;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
@media (max-width: 599px) {
  .article-page-nav-list a {
    padding-top: 5px;
    padding-bottom: 9px;
  }
}

.article-page-nav-list a.active {
  font-weight: 700;
  color: #e04e4e;
}

.article-page-nav-list a:hover,
.article-page-nav-list a:focus {
  text-decoration: underline;
}

/* Button */
.button {
  display: inline-block;
  height: 50px;
  padding-left: 41px;
  padding-right: 41px;
  background: #0ac883;
  -webkit-box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
  box-shadow: 0px 8px 20px rgba(24, 219, 148, 0.35);
  border-radius: 50px;
  border: none;
  font-family: PT Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  cursor: pointer;
}
@media (max-width: 899px) {
  .button {
    padding-left: 35px;
    padding-right: 35px;
    height: 46px;
    font-size: 18px;
    line-height: 46px;
  }
}
@media (max-width: 599px) {
  .button {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (max-width: 899px) {
  .form .button {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 599px) {
  .form .button {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.button:hover,
.button:focus {
  background: #265847;
  -webkit-box-shadow: 0px 8px 20px rgba(39, 105, 94, 0.5);
  box-shadow: 0px 8px 20px rgba(39, 105, 94, 0.5);
}

/* Card */
.cards-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 899px) {
  .cards-first-row {
    display: block;
  }
}
@media (max-width: 599px) {
  .cards-first-row {
    margin-bottom: 20px;
  }
}

@media (max-width: 899px) {
  .cards-first-row > * + * {
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .cards-first-row > * + * {
    margin-top: 20px;
  }
}

.cards-second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 899px) {
  .cards-second-row {
    display: block;
  }
  .cards-second-row > * + * {
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .cards-second-row > * + * {
    margin-top: 20px;
  }
}

.cards-second-row-column > * + * {
  margin-top: 30px;
}
@media (max-width: 1199px) {
  .cards-second-row-column > * + * {
    margin-top: 30px;
  }
}
@media (max-width: 899px) {
  .cards-second-row-column > * + * {
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  .cards-second-row-column > * + * {
    margin-top: 20px;
  }
}

.card {
  display: block;
  width: 570px;
  color: #fff;
  border: 2px solid transparent;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
@media (max-width: 1199px) {
  .card {
    width: 420px;
  }
}
@media (max-width: 899px) {
  .card {
    width: 570px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 599px) {
  .card {
    width: auto;
  }
}

.card:hover {
  opacity: 0.9;
}

.card:focus {
  border: 2px solid #265847;
}

.card.bigger {
  width: 670px;
}
@media (max-width: 1199px) {
  .card.bigger {
    width: 495px;
  }
}
@media (max-width: 899px) {
  .card.bigger {
    width: 570px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 599px) {
  .card.bigger {
    width: auto;
  }
}

.card.small {
  width: 470px;
}
@media (max-width: 1199px) {
  .card.small {
    width: 345px;
  }
}
@media (max-width: 899px) {
  .card.small {
    width: 570px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 599px) {
  .card.small {
    width: auto;
  }
}

.card img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .card img {
    height: 240px;
  }
}

.card.bigger img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .card.bigger img {
    height: 210px;
  }
}

.card.small img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .card.small img {
    height: 100%;
  }
}
@media (max-width: 899px) {
  .card.small img {
    height: 210px;
  }
}

.card-title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #a6a6a6;
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 1199px) {
  .card-title-wrapper {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 899px) {
  .card-title-wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (max-width: 599px) {
  .card-title-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
  }
}

.card-title {
  font-size: 28px;
  font-weight: 700;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .card-title {
    font-size: 24px;
  }
}
@media (max-width: 599px) {
  .card-title {
    font-size: 20px;
  }
}

.card.extreme-color .card-title-wrapper {
  background-color: #c1b19b;
}

.card.adventures-color .card-title-wrapper {
  background-color: #66b0be;
}

.card.tracking-color .card-title-wrapper {
  background-color: #876f56;
}

.card.jungle-color .card-title-wrapper {
  background-color: #27695e;
}

/* Contacts */
.contacts-header {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .contacts-header {
    margin-bottom: 47px;
  }
}
@media (max-width: 899px) {
  .contacts-header {
    margin-bottom: 35px;
  }
}
@media (max-width: 599px) {
  .contacts-header {
    margin-bottom: 30px;
  }
}

.contact-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
@media (max-width: 1199px) {
  .contact-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.contact-info {
  width: 470px;
}
@media (max-width: 1199px) {
  .contact-info {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media (max-width: 899px) {
  .contact-info {
    display: block;
  }
}
@media (max-width: 599px) {
  .contact-info {
    margin-bottom: 30px;
  }
}

.contact-block + .contact-block {
  margin-top: 44px;
}
@media (max-width: 1199px) {
  .contact-block + .contact-block {
    margin-top: 0;
  }
}
@media (max-width: 899px) {
  .contact-block + .contact-block {
    margin-top: 43px;
  }
}
@media (max-width: 599px) {
  .contact-block + .contact-block {
    margin-top: 32px;
  }
}

.contact-block-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
}
@media (max-width: 1199px) {
  .contact-block-title {
    margin-bottom: 28px;
    font-size: 24px;
  }
}
@media (max-width: 599px) {
  .contact-block-title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.contact-block-body {
  font-size: 20px;
}
@media (max-width: 1199px) {
  .contact-block-body {
    font-size: 18px;
  }
}
@media (max-width: 599px) {
  .contact-block-body {
    font-size: 16px;
  }
}

.contact-map {
  width: 470px;
  height: 345px;
}
@media (max-width: 1199px) {
  .contact-map {
    width: 420px;
    height: 310px;
  }
}
@media (max-width: 899px) {
  .contact-map {
    width: 100%;
  }
}
@media (max-width: 599px) {
  .contact-map {
    height: 157px;
  }
}

.contact-list li {
  margin-bottom: 21px;
}

.contact-list a {
  color: #138ece;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
.contact-list a:hover, .contact-list a:focus {
  text-decoration: underline;
}

.contact-list-icon {
  position: relative;
  padding-left: 39px;
}
@media (max-width: 599px) {
  .contact-list-icon {
    padding-left: 34px;
  }
}

.contact-list-icon::before {
  content: "";
  display: block;
  top: 3px;
  left: 0;
  width: 24px;
  height: 24px;
  position: absolute;
}

.contact-list-icon.phone::before {
  background-image: url("./../img/icons/phone.svg");
}

.contact-list-icon.mail::before {
  background-image: url("./../img/icons/mail.svg");
}

.contact-list-icon.address::before {
  background-image: url("./../img/icons/map-pin.svg");
}

/* Contact form */
.form {
  padding: 40px;
  width: 630px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
  box-shadow: 0px 10px 20px rgba(211, 211, 211, 0.25);
}
@media (max-width: 1199px) {
  .form {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    padding-bottom: 42px;
  }
}
@media (max-width: 899px) {
  .form {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 21px;
    padding-bottom: 30px;
  }
}
@media (max-width: 599px) {
  .form {
    padding-left: 15px;
    padding-right: 17px;
    padding-top: 19px;
    padding-bottom: 30px;
  }
}

.form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 599px) {
  .form-title {
    font-size: 24px;
  }
}

.form-group-wrapper {
  margin-bottom: 19px;
}
@media (max-width: 899px) {
  .form-group-wrapper {
    margin-bottom: 15px;
  }
}
@media (max-width: 599px) {
  .form-group-wrapper {
    margin-bottom: 20px;
  }
}

.form-group {
  margin-bottom: 20px;
  font-size: 18px;
}
@media (max-width: 599px) {
  .form-group {
    margin-bottom: 14px;
    font-size: 16px;
  }
}

.form-group:last-of-type {
  margin-bottom: 0px;
}

.form-group-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 599px) {
  .form-group-title {
    margin-bottom: 8px;
    font-size: 18px;
  }
}

.form-group-row {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 599px) {
  .form-group-row {
    display: block;
  }
}

.form-group-row > .input + .input {
  margin-left: 10px;
}
@media (max-width: 599px) {
  .form-group-row > .input + .input {
    margin-left: 0;
    margin-top: 10px;
  }
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  font-size: 18px;
  color: #31405b;
}
@media (max-width: 1199px) {
  .input {
    padding-left: 29px;
    padding-right: 29px;
  }
}
@media (max-width: 899px) {
  .input {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 599px) {
  .input {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.input::-webkit-input-placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.input::-moz-placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.input:-ms-input-placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.input::-ms-input-placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.input::placeholder {
  color: rgba(49, 64, 91, 0.5);
}

.input:focus {
  outline: none;
  border: 2px solid #0ac883;
  -webkit-box-shadow: 0px 2px 8px rgba(39, 105, 94, 0.5);
  box-shadow: 0px 2px 8px rgba(39, 105, 94, 0.5);
}

/* Checkbox */
.checkbox-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 16px;
}
@media (max-width: 599px) {
  .checkbox-row {
    margin-bottom: 23px;
  }
  .checkbox-row:last-child {
    margin-bottom: 0;
  }
}

.real-checkbox {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 14px;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  background: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.custom-checkbox::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  content: "";
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/check.svg");
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.real-checkbox:focus + .custom-checkbox {
  border: 2px solid #0ac883;
  -webkit-box-shadow: 0px 2px 8px rgba(39, 105, 94, 0.5);
  box-shadow: 0px 2px 8px rgba(39, 105, 94, 0.5);
}

.real-checkbox:checked + .custom-checkbox::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

/* Radio */
.radio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 20px;
}
@media (max-width: 599px) {
  .radio-row {
    margin-bottom: 9px;
  }
}

.radio-row:last-of-type {
  margin-bottom: 10px;
}

.real-radio {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  z-index: -1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-radio {
  position: relative;
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 14px;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background: #eeeeee;
  border: 1px solid #c0c0c0;
  border-radius: 50%;
}

.real-radio:focus + .custom-radio {
  border: 2px solid #0ac883;
  -webkit-box-shadow: 0px 2px 8px rgba(39, 105, 94, 0.5);
  box-shadow: 0px 2px 8px rgba(39, 105, 94, 0.5);
}

.real-radio:checked + .custom-radio::before {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.custom-radio::before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
  height: 12px;
  background: #2ab698;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

/* Developer utilities - remove before release */
/* Link to the active page */
.link-active:hover,
.link-active:focus {
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  color: #cefdb9;
}

.link-active:focus {
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}
.link-active:focus .card-title {
  color: #cefdb9;
}
/*# sourceMappingURL=main.css.map */
